<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690982326593-n4m4pe6ajt88kq9mms1gn9qp2ntbnppn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690982326593-n4m4pe6ajt88kq9mms1gn9qp2ntbnppn</string>
	<key>API_KEY</key>
	<string>AIzaSyB-w91eOcXFEycIvoVd20N7efeaGClYl4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>690982326593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonwy.vocabularyscanner</string>
	<key>PROJECT_ID</key>
	<string>vocabularyscanner</string>
	<key>STORAGE_BUCKET</key>
	<string>vocabularyscanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:690982326593:ios:663c4b069fdea628ab11c0</string>
	<key>DATABASE_URL</key>
	<string>https://vocabularyscanner.firebaseio.com</string>
</dict>
</plist>
